*{
  box-sizing: border-box;
}
body {
  background-image: url("thought-catalog-o0Qqw21-0NI-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 100vh;
  width: 100vw;
}
h1 {
  size: 120%;
  font-family: 'Courier New', Courier, monospace;
}
h2 {
  color: antiquewhite;
  font-weight: bolder;
  background-color: black;
}
input {
  padding: 8px;
  border-radius: 1px;
  border-radius: 1%;
  margin: 5px;
  width: 40%;
}
button {
  text-transform: uppercase;
  border: 1px solid rgb(34, 10, 191);
  background-color: #3e9aa6;
  padding: 8px;
  border-radius: 14%;

}
img {
max-width: 25%;
  /* max-height: 30px ; */
  border-radius: 50%;
}

section {
  margin-top: 400px;
  margin: 40px 0;
}

/* div {
  background-color: antiquewhite;
} */

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.book-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  column-gap: 10px;

}

#output{
  background: rgb(242, 243, 245);
  display: flex;
  gap: 24px;
  /* flex-direction: column; */
  flex-wrap: wrap;
  margin: 40px 24px;
}
/* .bookBox {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: 250px;
  
} */
.url{
  height: 300px;
  width: 200px;
  object-fit: cover;
}
.bookBox{
  /* width: 90%; */
  height: 350px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* background-color: firebrick; */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 8px;
  /* margin: 20px; */
  flex-grow: 1;
  width: 25%
}
