*{
  box-sizing: border-box;
}
@import 'https://fonts.googleapis.com/css?family=BioRhyme:700|Eczar:800|Rubik:400,400i,700';

header{
  align-items: center;
}
body {
  background-image: url("thought-catalog-o0Qqw21-0NI-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color:  #fcfce1;
  font-family: Rubik, sans-serif;
  font-weight: 400;
}
h1 {
  /* size: 120%; */
  /* font-family: 'BioRhyme', serif;
    font-size: 5em;
    font-weight: 700;
    color: #ff7474; */
    font-family: 'BioRhyme', serif;
    font-size: 5em;
    font-weight: 700;
    color: #ff7474;
}
div2 {
  margin: 0 20%;

}
h2 {
  font-weight: bolder;
  /* background-color: #fcfce1; */
  font-family: Eczar, serif;
  font-weight: 800;
  font-size: 2em;
  margin-bottom: 0em;
  color: rgb(0,200,215);
  text-align: center;
  
}
input {
  padding: 8px;
  border-radius: 1px;
  border-radius: 1%;
  margin: 5px;
  width: 40%;
}
button {
  text-transform: uppercase;
  border: 1px solid rgb(34, 10, 191);
  background-color: #3e9aa6;
  padding: 8px;
  border-radius: 14%;

}
img {
/* max-width: 25%; */
  /* max-height: 30px ; */
  /* border-radius: 100%; */
}

section {
  margin-top: 400px;
  margin: 40px 0;
}

/* div {
  background-color: antiquewhite;
} */

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.book-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  column-gap: 10px;

}
#output{
  display: flex;
  gap: 24px;
  /* flex-direction: column; */
  flex-wrap: wrap;
  margin: 40px 24px;
}
/* .bookBox {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: 250px;
  
} */
.url{
  /* height: 300px;
  width: 200px;
  object-fit: cover; */
  font-family: Eczar, serif;
    font-weight: 800;
    font-size: 1.1em;
    color: #7F7F2B;
}
.bookBox{
  /* width: 90%; */
  background: rgb(242, 243, 245);
  min-height: 350px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
  /* background-color: firebrick; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 8px;
  /* margin: 20px; */
  flex-grow: 1;
  width: 25%;
  padding: 24px;
}
.bookImg{
  height:300px;
  width: 200px;
  object-fit: cover;
}
#logo {
width: 10%;
height: auto;
align-items: center;
}
